.tags_editing_window {


    width: 340px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 12px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
    padding: 0px 6px 6px 6px;

    &__choosed_tags {
        margin: 0px -6px 0px -6px;
        min-height: 82px;
        background: rgb(245, 245, 245);
        padding: 12px;
        display: flex;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        flex-wrap: wrap;
        gap: 8px;

        &__item {
            display: flex;
            align-items: center;
            background-color: red;
            border-radius: 5px;
            padding: 4px 4px 4px 12px;
            height: 25px;
            gap: 4px;

            &__name {
                max-width: 150px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 600;

            }

            .cross_button {
                cursor: pointer;
                padding: 0;
                border: 0;
                background-color: transparent;
                display: flex;
                align-items: center;

                .cross {
                    width: 16px;
                    height: 16px;
                }
            }


        }

        &__input {
            flex: 1;
            min-width: 70px;
            max-height: 25px;
            border: 0;
            background: inherit;
            outline: 0;
            color: rgb(55, 53, 48);
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__create_button {
        padding: 12px 6px 8px 6px;
        color: rgb(153, 153, 153);
        border: 0;
        background-color: transparent;
        cursor: pointer;

        &.active {
            color: rgb(66, 129, 219);

            .plus_and_text {
                .plus {
                    path {
                        fill: rgb(66, 129, 219);
                    }
                }
            }

        }
    }

    .list_of_tags {
        list-style: none;
        max-height: 800px;

        overflow-y: auto;
    }


}

.plus_and_text {
    display: flex;
    align-items: center;
    gap: 4px;

    .create_text {

        font-family: 'SF Pro Display';
        font-size: 12px;
        font-weight: 600;
    }

    .plus {
        width: 16px;
        height: 16px;
    }
}