.list_of_tags__item {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;

    //transition: background-color 0.3s;
    //background-color: white;
    &:hover {
        background-color: rgb(245, 245, 245);
    }

    &.dragged {
        background-color: rgb(245, 245, 245);
    }

    position: relative;
    //display: flex;
    padding: 8px 6px 8px 6px;

    .dots_and_name {
        //width: 83px;
        display: flex;
        //justify-content: space-between;
        gap: 8px;
        align-items: center;

        
    }

    .three_dots {
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

}

.tag_name {
    height: 25px;
    min-width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: aqua;
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
   
    cursor: pointer;

    color: rgb(255, 255, 255);
    //font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 600;
}