// a, button, input, textarea, select {
//   cursor: url("/hand_cursor/Hand pointer.svg"), auto;
// }

// // a, button, input, textarea, select {
// //   cursor: pointer;
// // }

// a:active, button:active, input:active, textarea:active, select:active {
//   cursor: url("/hand_cursor/Hand click.svg"), auto;
// }

@font-face {
  font-family: "SF Pro Display";
  src: url('/fonts/SF-Pro-Display-Regular_1.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url('/fonts/SF-Pro-Display-Semibold_1.ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url('/fonts/SF-Pro-Display-Bold_1.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SFProText-Regular.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'SF Pro Display', sans-serif;
}


// НАДО ИЗМЕНИТЬ ПОТОМ HOME ОСОБЕННО MARGIN TOP
.Home {
  margin-top: 30px;
  width: 1420px;
  //min-height: 1000px;
}