.myPopUpWindow {
    position: absolute;
    display: none;
    //z-index: 2;
   // background-color: aqua;
}

.singleTag {
    z-index: 5;
}

.myPopUpWindowContent {}

.myPopUpWindow.active {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: block;
}