.tags_table {
    width: 100%;
    border-spacing: 24px;
    thead {
        tr {
            
            th {
                color: rgb(153, 153, 153);
                font-family: "SF Pro Text", sans-serif;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
            }

            th:nth-child(1), th:nth-child(2) {
                width: auto;
            }

            th:nth-child(3) {
                width: 100%;
            }
        }
    }
}